*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 87.5%;
}

body {
    font-family: 'Open Sans';
    font-weight: 400;
}